In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
REPO_NAME = 'sewer-nfl'
import sys, os
cwd = str(os.getcwd())
repo_dir = cwd[:cwd.find(REPO_NAME)+len(REPO_NAME)]
sys.path.insert(0,repo_dir)

In [14]:
from warehouse.catalog import FUNCTION_CATALOG

In [12]:
f = FUNCTION_CATALOG['get_def_qb_aggr']

# Example call: 

f['func'](*f['params'])

      season  week team   def_aggr
0       2016     1  ARI        NaN
1       2016     2  ARI        NaN
2       2016     3  ARI        NaN
3       2016     4  ARI        NaN
4       2016     5  ARI  16.717708
...      ...   ...  ...        ...
3654    2022    13  WAS  15.481811
3655    2022    15  WAS  12.981811
3656    2022    16  WAS  11.723069
3657    2022    17  WAS  12.632160
3658    2022    18  WAS  15.637566

[3659 rows x 4 columns]

In [15]:
catalog_results = [
    FUNCTION_CATALOG[key]['func']\
        (*FUNCTION_CATALOG[key]['params']) \
            for key in FUNCTION_CATALOG.keys()
    ]

In [41]:
import copy
# Iterate over results and build final df
df = catalog_results[0]
for i in range(1,len(catalog_results)):
    on_cols = ['season','week','team']
    left_on = [oc for oc in on_cols if oc in df.columns]
    right_on = [oc for oc in on_cols if oc in catalog_results[i].columns]
    # If right missing left, reduce
    if len(right_on) < len(left_on):
        left_on = copy.deepcopy(right_on)
    if 'defteam' in catalog_results[i].columns:
        left_on.append('team')
        right_on.append('defteam')
    df = df.merge(catalog_results[i], how = "left", left_on = left_on, right_on = right_on)