In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
REPO_NAME = 'sewer-nfl'
import sys, os
cwd = str(os.getcwd())
repo_dir = cwd[:cwd.find(REPO_NAME)+len(REPO_NAME)]
sys.path.insert(0,repo_dir)

In [3]:
import pandas as pd
import nfl_data_py as nflreadr
from warehouse.pipelines.pbp.setup import setup_pbp

In [9]:
from warehouse.catalog import FUNCTION_CATALOG

In [12]:
f = FUNCTION_CATALOG['get_yards_per_pass']

# Example call: 

f['func'](*f['params'])

      season  week team  yards_per_pass
0       2016     1  ARI             NaN
1       2016     2  ARI             NaN
2       2016     3  ARI             NaN
3       2016     4  ARI             NaN
4       2016     5  ARI        5.998367
...      ...   ...  ...             ...
3685    2022    13  WAS        5.683950
3686    2022    15  WAS        6.296047
3687    2022    16  WAS        6.568839
3688    2022    17  WAS        5.954025
3689    2022    18  WAS        6.190388

[3690 rows x 4 columns]