In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
REPO_NAME = 'sewer-nfl'
import sys, os
cwd = str(os.getcwd())
repo_dir = cwd[:cwd.find(REPO_NAME)+len(REPO_NAME)]
sys.path.insert(0,repo_dir)

In [14]:
from warehouse.catalog import FUNCTION_CATALOG

In [12]:
f = FUNCTION_CATALOG['get_def_qb_aggr']

# Example call: 

f['func'](*f['params'])

      season  week team   def_aggr
0       2016     1  ARI        NaN
1       2016     2  ARI        NaN
2       2016     3  ARI        NaN
3       2016     4  ARI        NaN
4       2016     5  ARI  16.717708
...      ...   ...  ...        ...
3654    2022    13  WAS  15.481811
3655    2022    15  WAS  12.981811
3656    2022    16  WAS  11.723069
3657    2022    17  WAS  12.632160
3658    2022    18  WAS  15.637566

[3659 rows x 4 columns]

In [15]:
catalog_results = [
    FUNCTION_CATALOG[key]['func']\
        (*FUNCTION_CATALOG[key]['params']) \
            for key in FUNCTION_CATALOG.keys()
    ]

In [41]:
import copy
# Iterate over results and build final df
df = catalog_results[0]
for i in range(1,len(catalog_results)):
    on_cols = ['season','week','team']
    left_on = [oc for oc in on_cols if oc in df.columns]
    right_on = [oc for oc in on_cols if oc in catalog_results[i].columns]
    # If right missing left, reduce
    if len(right_on) < len(left_on):
        left_on = copy.deepcopy(right_on)
    if 'defteam' in catalog_results[i].columns:
        left_on.append('team')
        right_on.append('defteam')
    df = df.merge(catalog_results[i], how = "left", left_on = left_on, right_on = right_on)

In [43]:
df

,season,week,team,yards_per_carry,yards_per_pass,epa_per_rush,epa_per_pass,off_epa_x,pct_pass,pct_run,...,def_qb_comp,off_qbhit,def_qbhit,score_diff,first_drive_pts_avg,first_drive_pts_avg_allowed,trailing_pct_air_yards,trailing_pct_yac,h2_first_drive_pts_avg,h2_first_drive_pts_avg_allowed
0,2016,1,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,3,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,4,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,56,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,5,ARI,4.406707,5.998367,-0.526694,0.076411,-0.019501,0.609933,0.390067,...,0.539113,0.068391,0.063010,56,0.0,1.4,0.609692,0.390308,2.0,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3685,2022,13,WAS,4.312459,5.683950,0.215916,-0.122638,0.003115,0.453399,0.546601,...,0.599802,0.064828,0.076242,-22,2.0,3.4,0.616860,0.383140,2.0,2.0
3686,2022,15,WAS,4.583811,6.296047,0.365092,-0.096415,0.016600,0.460410,0.539590,...,0.624076,0.067132,0.059862,-22,2.0,2.0,0.608175,0.391825,2.0,2.0
3687,2022,16,WAS,4.398770,6.568839,-0.190491,-0.006777,-0.025515,0.488202,0.511798,...,0.618150,0.074607,0.065561,-22,2.0,0.6,0.604630,0.395370,1.4,3.4
3688,2022,17,WAS,4.368905,5.954025,-0.161025,-0.310183,-0.048090,0.498782,0.501218,...,0.596411,0.072684,0.054339,-22,2.0,0.6,0.614281,0.385719,1.4,4.2
3689,2022,18,WAS,4.145571,6.190388,-0.411324,-0.752242,-0.111523,0.491784,0.508216,...,0.552821,0.074480,0.052157,-22,2.0,0.0,0.596538,0.403462,1.4,4.2

In [47]:
df[['season','week','team','score_diff']].tail(20)

      season  week team  score_diff
3670    2022    16  TEN         -61
3671    2022    17  TEN         -61
3672    2022    18  TEN         -61
3673    2022     1  WAS         -22
3674    2022     2  WAS         -22
3675    2022     3  WAS         -22
3676    2022     4  WAS         -22
3677    2022     5  WAS         -22
3678    2022     6  WAS         -22
3679    2022     7  WAS         -22
3680    2022     8  WAS         -22
3681    2022     9  WAS         -22
3682    2022    10  WAS         -22
3683    2022    11  WAS         -22
3684    2022    12  WAS         -22
3685    2022    13  WAS         -22
3686    2022    15  WAS         -22
3687    2022    16  WAS         -22
3688    2022    17  WAS         -22
3689    2022    18  WAS         -22